# CommuniMed files
.installed.cfg
.codeintel
README.html
adminPassword.txt
buildout.cfg
products/
PKG-INFO
sub_tasks
cmed.sublime-workspace

export-*

*.egg-info

*.py[co]

# Packages
*.egg
*.egg-info/PKG-INFO
dist
build
eggs
parts
bin/instance
bin/backup
bin/bpython
bin/bpython-urwid
bin/buildout
bin/client1
bin/client2
bin/ipzope
bin/new_importer.py
bin/paster
bin/plonectl
bin/repozo
bin/restore
bin/snapshotbackup
bin/snapshotrestore
bin/test
bin/zeoserver
bin/zopepy
bin/zopepy.README.txt
bin/zopeskel
bin/clusterstatus.sh
bin/fsdump
bin/fsoids
bin/fsrefs
bin/fstail
bin/restartclients.sh
bin/restartcluster.sh
bin/runzeo
bin/shutdowncluster.sh
bin/startcluster.sh
bin/zdaemon
bin/zeoctl
bin/zeomultipack
bin/zeopack
bin/zeopasswd
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#Tilde
*~

#Came with plone 4.2, ignoring
src/z3c.recipe.staticlxml/


#4.2 Plone comes with this src
z3c.recipe.staticlxml

