/* ========= Definições Básicas ============ */

#content fieldset.cmed{
    border: 0.1em solid #329fd7 ;
 /*   border: 1px solid green; */
    border-style: solid solid solid solid;
}

#content fieldset.cmedgray {
    position: relative;
    left: -100px;
    border: 0.1em solid #CCCCCC ;
 /*   border: 1px solid green; */
    border-style: solid solid solid solid;
    background: #EEEEEE;
}

#search_patient fieldset.cmedgray {
    border: 0.1em solid #CCCCCC ;
 /*   border: 1px solid green; */
    border-style: solid solid solid solid;
    background: #EEEEEE;
}

table.cmed {
    border: 0px outset buttonface;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

table.cmed tr.even {
    background: white;
}

button.cmed {
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

button.cmed:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;  
}

button.cmed-success:hover {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;    
}

button.cmed-success {
  color: #ffffff;  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);    
}
/* ========= Patient Folder View ============ */


.index-col{
/*  word-wrap:normal;*/
  font-style:italic;
  color:rgb(138, 138, 138);
  text-align: center;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #2A5D7F;
}

/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer {
  clear: both;
  height: 500px;
  overflow: auto;
  width: 1000px;
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer {
  overflow: hidden;
}

/* define width of table. IE browsers only                 */
div.tableContainer table {
  float: center;

}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer table {

}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
  position: center;
  min-width: 100%;
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
  display: block;
}

/* make the TH elements pretty */
thead.fixedHeader th {
  background: #C96;
/*  border-left: 1px solid #EB8;
  border-right: 1px solid #B74;
  border-top: 1px solid #EB8;
  font-weight: normal;
  padding: 0px 0px;
  text-align: left*/
}

/* make the A elements pretty. makes for nice clickable headers                */
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
  color: #FFF;
  display: block;
  text-decoration: none;
  width: 100%
}

/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
thead.fixedHeader a:hover {
  color: #FFF;
  display: block;
  text-decoration: underline;
  width: 100%
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
  display: block;
  max-height: 400px;
  overflow: auto;
  width: 105%
}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
  background: #FFF;
 /* border-bottom: none;
  border-left: none;
  border-right: 1px solid #CCC;
  border-top: 1px solid #DDD;
  padding: 2px 3px 3px 4px*/
}

tbody.scrollContent tr.alternateRow td {
  background: #EEE;
  /*border-bottom: none;
  border-left: none;
  border-right: 1px solid #CCC;
  border-top: 1px solid #DDD;
  padding: 2px 3px 3px 4px;*/
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
/*html>body thead.fixedHeader th {
  min-width: 100px;
}*/
html>body thead.fixedHeader th {
  width: 80px;
}
html>body thead.fixedHeader th + th {
  width: 350px;
}

html>body thead.fixedHeader th + th + th {
  width: 100px;
}

html>body thead.fixedHeader th + th + th + th {
  width: 150px;
}
/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
/*html>body tbody.scrollContent td {
  
}*/

html>body tbody.scrollContent  td {
  width: 80px;
  
}

html>body tbody.scrollContent td + td {
  width: 350px;
  
}

html>body tbody.scrollContent td + td + td {
    width: 100px;
  
}
html>body tbody.scrollContent td + td + td + td {
    width: 150px;
}

#celulas {
text-align: center;
}

.cmedPrint{
  display:none;
}

.font-quicksand{
  font-family: Quicksand, "Helvetica Neue", Arial, FreeSans, sans-serif;
}

.patientFolderDivFilter{
  background-color: rgb(42, 93, 127);
  width: 50%;
  color: white;
  border-radius: 5px;
}
.patientFolderInputFilter{
  border-color: rgb(42, 93, 127);
  border-style:solid;
}