/* ========= Definições Básicas ============ */

#content fieldset.cmed{
    border: 0.1em solid #329fd7 ;
 /*   border: 1px solid green; */
    border-style: solid solid solid solid;
}

#content fieldset.cmedgray {
    position: relative;
    left: -100px;
    border: 0.1em solid #CCCCCC ;
 /*   border: 1px solid green; */
    border-style: solid solid solid solid;
    background: #EEEEEE;
}

#search_patient fieldset.cmedgray {
    border: 0.1em solid #CCCCCC ;
 /*   border: 1px solid green; */
    border-style: solid solid solid solid;
    background: #EEEEEE;
}
/* ========= Definições Básicas ============ */


