.cmed{
	display:none;
}
.pageTitle{
	text-align: center;
	background-color: rgb(166,166,166);
    margin-bottom: 15px;
}
@page{
	margin-top: 2px;
	margin-bottom: 2px;
}
.cmedPrint{
	display:inline;
}

fieldset {
     border:0px solid black
}