
#content ul {
        position:relative;
        left:-20px;
	list-style: none outside none; 
	text-align: center;
}

div#LSResult {
	position:relative;
	margin:0;
	margin-left:auto;
	margin-right:auto;	
}

