
#content ul {
    position:relative;
    left:-20px;
    list-style: none outside none;
    text-align: center;
}

span#ResultBox {
    position:relative;
    left:4%;
    margin:0 auto;
}

div#LSResult {
    margin:0 auto;
}

div#portal-column-content {
    position: relative;
    float: left;
    left: 100%;
}

