
body {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: white;
	font-family:Ubuntu, Times;
	font-size:15px;
}

select
{
	color:#205c90;
	background-color:white;
}

a {
	color:#205c90;
	cursor: pointer;
/*	text-decoration:overline; */
}

a:hover {
	color:green;
	font-weight:bolder;
	text-decoration:underline;
}

input {
	color:#205c90;
	background-color:white;
	border-style:solid;
	border-width:1px;
	border-color:#205c90;
}

input.button {
	width:80px;
}

input:hover {
/*	color:white;*/
/*	background-color:#205c90;*/
	border-style:solid;
	border-width:1px;
	border-color:#205c90;
}

legend {
	color:#205C90;
}

fieldset {
	border-color:#205C90;
	border-width:2px;
}

p#no_results {
	font-style:italic;
}

div#portal-column-content {
    position: relative;
    float: left;
    left: 100%;
    margin-left: -98.875%

}

#choose_patient div#LSResult {
    position:static;
    margin:0 auto;
}

#choose_patient div#LSResult fieldset {
    width: 650px;
}

#choose_patient div#LSResult h2 {
    display:none;
}

#choose_patient div#LSResult div.LSIEFix {
    width: 600px;
}