
body
{
    margin: 0;
    padding: 0;
}

#day_buttons_div
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
}

span.button {
    cursor: hand;
    cursor: pointer;
    display: inline-block;
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-weight : bold;
    color: #205c90;
    width: 100px;
    padding: 1px;
    border: 2px solid #205c90;
    margin: 0px;		
}

.day_button {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-weight : bold;
    border : 1px solid #205c90;
    color: #205c90;
    background-color: white;		
/*  background-color : #9999CC;*/
    font-style: normal;
    text-align: center;
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
}

#doctor_select_div
{
    float: left;
    width: 160px;
    background-color: green;
}

#doctor_select
{
    float: right;
    width: 160px;
    color: #205c90;
    background-color: white;
}

#doctor
{
    text-align: center;
}

.visit_table {
    text-align: center; 
    padding: 10px;
}

.width-100 {
    width: 100%;
}

.red {
    background-color: #FFE4E1;
}

.yellow {
    background-color: #FAFAD2;
}

.green {
    background-color: #E0FFFF;
}

.light {
    background-color: #eee;
}

table.seclisting,
table.plain {
    border-spacing: 0;
    border-collapse: collapse;
}

table.invisible td,
table.invisible th,
table.plain td,
table.plain th,
table.seclisting td,
table.seclisting th {
    padding: 0.5em 1em;
    vertical-align: top;
}
table.plain th,
table.plain td {
    border: 1px solid #ddd;
}

table.seclisting td.listingCheckbox,
table.seclisting th.listingCheckbox {
    text-align: center;
}


table.seclisting {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.seclisting .top {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
table.seclisting th {
    text-align: left;
    color: #666;
    border: 0.1em solid #e7e7e7;
    border-style: solid solid none;
    background: #ddd;
}
table.seclisting tr.odd th {
    border: 0.1em solid #fff;
    border-style: solid solid none none;
}
table.seclisting tbody th {
    font-weight: bold;
}
table.seclisting tbody tr {
    text-align:left;
}

table.seclisting tbody tr td {
    background: transparent;
}

table.seclisting td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.seclisting a {
    border: none;
    display: inline-block;
    border-bottom: none !important;
}

table.seclisting td.draggable {
    text-shadow: White 1px 1px 1px;
    background: #ddd !important;
    border-bottom: 1px solid white;
    padding: 0.4em 0.4em 0 0.5em;
}

A:hover {text-decoration: underline; color: #75AD0A;}
