body {
    font-size: 8px;
}

table.agenda_parent {
    border: 1px solid #ddd;
}

table#agenda_parent th {
    color: black;
    text-align: left;
    border: 1px solid #e7e7e7;
}

.no_print {
    display: none;
}