/*
Content
*/
div.position-1\3a 4 {margin-left:    -80%;} /* .position-1:4 */
div.width-1\3a 2 { width:    60%; } /* .width-3:4 */
/*
Patient Portlet
*/
div.width-1\3a 4 { width:    18%; } /* .width-1:4 */
div.position-0  { margin-left: -98.875% }
/*
Upload Portlet
*/
div.position-3\3a 4 {margin-left:   -19.125%;} /* .position-1:4 */

/*
Remove breadcombs and edit-bar
*/
div#viewlet-above-content{
    display:block;
}
div#edit-bar{
    display:none;
}
/*
Ajust content heigth
*/
#content{
    margin: 0em 0.25em 2em 0.25em
}

/*
Ajust Gallery
*/
.pika-stage{
    padding: 10px 0px 40px 10px;
}
.pika-imgnav a.previous {
width: 30px;
}
.pika-imgnav a.next {
width: 30px;
}
.pika-stage, .pika-textnav {
width: 450px;
}
.pikachoose {
width: 500px;
margin: 0 auto;
}
tal a img{
width: 70px;
height: 70px;
}

span.image_date{
    font-size: 10px;
}
#table{
 margin-left: auto;
 margin-right: auto;
}

//Popup
.load { position: absolute; top: 50%; left: 50%; width: 88px; height: 78px; margin: -39px 0 0 -44px; z-index: 99999;}
.bg_modal { position: absolute; top: 0; left: 0; z-index: 99998; }
.view_modal { position: absolute; left: 50%; top: 50%; text-align: left; z-index: 99998; }
.modal { visibility: hidden; cursor:pointer; }

div.pika-textnav {
    visibility: hidden;
}
div.caption {
    visibility: hidden;
}

.portletCompare{
font-size: 80%;
}
.compare-button{
    display:block; /* or inline-block */
    width: 105px; padding: 7px; text-align:center;    
    background:#205C90; border-bottom:1px solid #ddd;color:#fff;
    float: right;
    cursor: pointer !important;
    margin-top: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.back-button{
    display:block; /* or inline-block */
    width: 105px; padding: 7px; text-align:center;    
    background:#205C90; border-bottom:1px solid #ddd;color:#fff;
    float: right;
    cursor: pointer !important;
    margin-top: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

div.pika-stage {
    height: 350px;
    width: 500px;
    min-height: 350px;
    padding: 5px 0px 5px 0px
}

/*
.pikachoose{
    margin-right: 150px;
}
*/

div.pika-stage img{
    max-height: 350px;
    max-width: 500px;
}

dl.portlet a:hover {
    color: #FFFFFF !important;
    border-bottom: 0.0em;
}
dl.portlet a:visited { 
    color: #FFFFFF;
    border-bottom: 0.0em;
}
dl.portlet a:link { 
    color: #FFFFFF;
    border-bottom: 0.0em;
}

#image_name{
    position: relative;
    top: 10px;
    width:100px;
    max-width:100x;
    max-height:20px;
    z-index:1
}
.mensageOnImage{
    position: absolute;
    color:white;
    background:rgba(0,0,0,0.7);
    font-size:11px;
    padding:3px;
    -moz-border-radius: 5px;
    border-radius:5px;
}

#pictures{display:none;}
#pictures2{display:none;}

div div.qq-upload-button {
display: block;
width: 105px;
padding: 7px;
text-align: center;
background: #800;
border-bottom: 1px solid #DDD;
color: white;
float: center; /*sobreescreve o float: right; do Plone*/
cursor: pointer !important;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
margin: auto;
}
