
#patientFullName{
  font-size: 17px;
  color: rgb(0, 34, 95);
  text-decoration: underline;
  font-weight: bold;
}

#searchGadget{
  border: solid 2px #205C90;
  position: relative; 
  height: 40px;
  border-radius: 5px;
  text-align: center;
}

#LSResult{
  margin:auto !important;
  position: relative !important;
  background: none !important;
  color: #205C90;
  margin-left: -40px !important;
}
a.contenttype-patient:link, a.classe1:visited,.link:visited {
  text-decoration: none;
  }
a.contenttype-patient:hover,.link:hover {
  text-decoration: underline; 
  color: #205C90;
  cursor: pointer;
}
a.contenttype-patient:active,.link:active {
  text-decoration: none
  }

#content ul {
      list-style-type: none !important;
      margin-left: 0em !important;
  }

  .livesearchContainer{
    border-style: none none none none !important;
    padding: 0em 0 0;
  }
  #livesearchLegend{
    display: none;
  }
  .link{
    font-weight: bold;
    text-decoration: underline;
  }

  .formQuestion{
    font-size: 12px;
  }
  input[type=text], #ahomePhone, #amobile, input[type=radio]{
    border-radius: 3px;
    border: solid 1px rgb(28, 86, 136);
    height: 20px;
  }

.more {
  width: 80px;
  padding: 6px 0;
  text-align: center;
  border: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #fff;
  background-repeat: repeat-x;
  background-position: left top;
  font-size: 14px;
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
  height: 22px;
  line-height: 1.5em;
  margin-bottom: 6px;
  background-color: rgb(219, 219, 219);
}

.more:hover {
  border: 1px solid #bbb;
  text-decoration: none;
  background-position: left -78px;
}

.more:active {
  color: #666;
  background-position: left -38px;
}

.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}